body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #daded4;
}

.shadow-style {
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.chat-box {
  width: 100%;
  height: 600px;
  background-color: #ffffff;
  color: black;
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  overflow-y: scroll;
}

.start-message {
  color: grey;
}

.btn-style {
  background-color: #a3bcb6;
  color: #39603d;
}
