{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ room_name }}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/room1.css' %}" />
  </head>
  <body>
    <div class="container shadow-style">
      <div class="chat-box messages" id="chat-log">
        <p class="start-message">You may begin sending messages...</p>
      </div>
      <div class="input-group">
        <span class="input-group-text">Message</span>
        <textarea
          class="form-control"
          aria-label="Message"
          rows="3"
          id="chat-message-input"
        ></textarea>
        <button type="button" id="chat-message-submit" class="btn btn-style">
          Submit
        </button>
      </div>
    </div>
    {{ room_name|json_script:"room-name" }}
    <script>
      const roomName = JSON.parse(
        document.getElementById("room-name").textContent
      );

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/" + roomName + "/"
      );

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const chat_box = document.querySelector("#chat-log");

        const message_elem = document.createElement("P");
        const username_elem = document.createElement("STRONG");
        const message = document.createTextNode(data.message);
        const username = document.createTextNode(data.username + ": ");

        username_elem.appendChild(username);
        message_elem.appendChild(username_elem);
        message_elem.appendChild(message);

        chat_box.appendChild(message_elem);

        chat_box.scrollTop = chat_box.scrollHeight;
      };

      chatSocket.onclose = function (e) {
        console.error("Chat socket closed unexpectedly");
      };

      document.querySelector("#chat-message-input").focus();
      document.querySelector("#chat-message-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#chat-message-submit").click();
        }
      };

      document.querySelector("#chat-message-submit").onclick = function (e) {
        const messageInputDom = document.querySelector("#chat-message-input");
        const username = localStorage.getItem("user-name");
        const message = messageInputDom.value;

        chatSocket.send(
          JSON.stringify({
            username: username,
            message: message,
          })
        );
        messageInputDom.value = "";
      };
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
